RewriteEngine On

# 1. Bloqueia totalmente o acesso direto a pastas e arquivos sensíveis pela URL
RewriteRule ^(app|vendor|logs)(/.*)?$ - [F,L]
RewriteRule ^(\.env|composer\.(json|lock))$ - [F,L]

# 2. Redireciona de forma invisível todas as outras requisições para a pasta public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]