<?php
return [
    'domain' => "localhost:8000/",
    'database' => [
        'host' => 'localhost',
        'dbname' => '',
        'user' => '',
        'pass' => '',
        'charset' => 'utf8mb4'
    ]
];